.con1 {
    width: 95%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
}
.con2 {
    width: 95%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
}
