#settingBox {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    

}
